body {
    background: #BCB132;
    margin-top: 60px; /* Отступ для содержимого */
}

.site-header {
    background-color: #ffd700; /* Желтый фон шапки */
    color: #333; /* Цвет текста */
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для шапки */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-right: 30px;
}

.user-info {
    font-size: 16px;
    margin-left: 30px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.header-nav ul li {
    margin: 0 15px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.header-nav ul li a:hover {
    color: #BCB132; /* Цвет при наведении */
}


main .features {
font-family: Arial, sans-serif;
    background-color: #65612D;
    margin: 150px;
    padding: 0;
}

main .container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}



main .book-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 книги в ряд */
    gap: 20px; /* Расстояние между карточками */
}

main .book-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main .book-card:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main .book-card img {
    width: 100%;
    height: auto;
    display: block;
}

main .book-title, .book-author {
    padding: 10px;
    text-align: center;
}

main .book-title {
    font-size: 18px;
    font-weight: bold;
}

main .book-author {
    font-size: 16px;
    color: #666;
}


